
# Ignore anything for SVN
.svn

# Ignore any compiled source
*.class
*.com
*.dll
*.exe
*.o
*.so

# Ignore the Mac directory structore store file
.DS_Store

# Ignore the X-Code user data crap
*xcuserdatad*
*xcuserstate*
