<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SafetyWeb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SafetyWebTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>897E980414DB02C3007595A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>897E981F14DB02C3007595A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89AA207314F582330082C7B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89AA208F14F582330082C7B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89AA20A814F582500082C7B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
