<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultURLEncoding</key>
	<string>UTF-8</string>
	<key>Endpoint_Login</key>
	<string>https://www.safetyweb.com/api/v1/login</string>
	<key>Endpoint_Children</key>
	<string>https://www.safetyweb.com/api/v1/children</string>
	<key>Endpoint_Child</key>
	<string>https://www.safetyweb.com/api/v1/child/%@</string>
	<key>Endpoint_ForgotPassword</key>
	<string>https://www.safetyweb.com/forgotten</string>
	<key>API_Id</key>
	<string>59a0466d76db208dd32aa70ed2ee370c</string>
	<key>API_Key</key>
	<string>8ec1ec06a517b5ac3b8ff942f859f91957314681</string>
	<key>API_TokenExpire</key>
	<integer>28800000</integer>
</dict>
</plist>
